.center-login-btns {
    margin-left:40%;
    padding-bottom:20px;
}

.forgot-link {
    cursor: pointer;
}

input {
    margin: 0 auto !important;
}

<<<<<<< HEAD
#password {
    margin-left: -10px !important;
}

#userId {
    margin-right: -10px !important;
}
=======
div#loginContainer {
    width: 400px;
} 

.loginButton {
    width: 220px;
    margin-top: 20px;
    margin-bottom: 15px;
}

>>>>>>> 329dcb9ef081b7c1bee0d96e4f6759637bbade8e
